{% extends "layout.html" %}
{% block content %}
  <h2> Players Console </h2>
  <table class="centered highlight">
    <tr >
      <th style="text-align:center"> Real Name </th>
      <th style="text-align:center"> Code Name </th>
      <th style="text-align:center"> Phone Number </th>
      <th style="text-align:center"> Team Name </th>
      <th style="text-align:center"> Role </th>
      <th style="text-align:center"> State </th>
      <th style="text-align:center"> Invul </th>
      <th style="text-align:center"> Disarm </th>
      <th style="text-align:center"> Can set after </th>
      <th style="text-align:center"> Item </th>
    </tr>
  {% for player in players %}
    <tr>
        <td> {{ player.realname }} </td>
        <td> {{ player.codename }} </td>
        <td> {{ player.key.id() }} </td>
        <td> {{ player.team }} </td>
        <td> {{ player.role }} </td>
        <td> {{ player.state }} </td>
        <td> {{ player.invul }} </td>
        <td> {{ player.disarm }} </td>
        <td> {{ player.can_set_after }} </td>
        <td> {{ player.item }} </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
