{% extends "layout.html" %}
{% block content %}
  <h2> Teams Console </h2>
  <table class="centered highlight">
    <tr>
        <th style="text-align:center"> Team Name </th>
        <th style="text-align:center"> To Kill </th>
        <th style="text-align:center"> Target of </th>
        <th style="text-align:center"> Sniper </th>
        <th style="text-align:center"> Medic </th>
        <th style="text-align:center"> Demo </th>
        <th style="text-align:center"> Spy </th>
    </tr>
  {% for team in teams %}
    <tr>
        <td> 
          <a href={{url_for("team_form", name=team.key.id())}}>
            {{ team.key.id() }}
          </a>  
        </td>
        <td> 
          <a href={{url_for("team_form", name=team.to_kill)}}>
            {{ team.to_kill }} 
          </a>
        </td>
        <td> 
          <a href={{url_for("team_form", name=team.target_of)}}>
            {{ team.target_of }} 
          </a>
        </td>
        <td> 
          <a href={{url_for("player_form", name=team.sniper)}}>
            {{ team.sniper }} 
          </a>
        </td>
        <td> 
          <a href={{url_for("player_form", name=team.medic)}}>
            {{ team.medic }} 
          </a>
        </td>
        <td>
          <a href={{url_for("player_form", name=team.demo)}}>
            {{ team.demo }} 
          </a>
        </td>
        <td>
          <a href={{url_for("player_form", name=team.spy)}}>
            {{ team.spy }} 
          </a>
        </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
